// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$text-white: #ffffff;
$text-black: #000000;
$bg-white: #ffffff;
$bg-black: #000000;
$bg-secondary: #484a50;
$text-secondary: #6c757d;
$bg-dark: #2f3133;